@model HelloWorld.Models.Product

@{ 
   


}

<div>
    <h4>Your product</h4>
    <hr />
    <!-- syntaxe pour afficher une image avec son produit -->
    <!-- fichier model product , methode qui recupere l'image et qui la redimensionne-->

    <img src="/@Model.GetThumbnail()" alt="your_product" />
    <dl class="dl-horizontal">
        <!--  l'élément de liste de descriptions https://developer.mozilla.org/fr/docs/Web/HTML/Element/dl-->
        <dt>
            @Html.DisplayNameFor(model => model.Reference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
